ul {
  list-style: none;
}

i,
a,
span {
  display: block;
}

.header {
  text-align: center;
  padding-bottom: 60px;
}
.header h2 {
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 45px;
}

.btn {
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0;
}

.btn.primary {
  border: 2px solid #fff;
  color: #fff;
  height: 67px;
  width: 200px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Tajawal", sans-serif;
  background-image: url(../images/body_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sidepanel {
  position: fixed;
  left: -100%;
  top: 0;
  min-width: 280px;
  height: 100vh;
  background-color: #111;
  z-index: 9999999;
  transition: 0.4s;
}
.sidepanel.active {
  left: 0;
  overflow: hidden;
}
.sidepanel .closebtn {
  padding: 10px 20px;
  text-align: right;
}
.sidepanel .closebtn .btn {
  font-size: 20px;
  width: 30px;
  height: 30px;
  padding: 0;
  color: #fff;
  font-weight: bold;
}
.sidepanel .links li a {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
}
.sidepanel .links li a.active, .sidepanel .links li a:hover, .sidepanel .links li a:focus {
  color: #face34;
}

/* Start Headr */
header .search, header .social-icon {
  margin: 0;
  text-align: right;
}
header .search li, header .social-icon li {
  margin-left: 10px;
  display: inline-block;
}
header .search li i, header .social-icon li i {
  font-size: 23px;
  color: #fff;
  transition: 0.3s;
}
header .search li i:hover, header .social-icon li i:hover, header .search li i:focus, header .social-icon li i:focus {
  color: #6dcff6;
}

header {
  background: #0f132d;
  padding: 20px 30px;
  height: 96px;
}
header .navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}
header .navbar-brand:focus, header .navbar-brand:hover {
  color: #fff;
}
@media (max-width: 600px) {
  header .social-icon {
    display: none;
  }
}
header .search {
  justify-content: end;
}
header .search .bars button i {
  font-size: 30px;
}
header .search li {
  margin-left: 30px;
}
header .search li i {
  font-size: 16px;
}

.banner_main {
  padding-top: 90px;
  padding-bottom: 90px;
}
.banner_main .carousel-inner figure > img {
  width: 100%;
}
.banner_main .carousel-inner .bluid h1 {
  font-size: 55px;
  padding-bottom: 45px;
  color: #fff;
}
.banner_main .carousel-inner .bluid p {
  color: #fff;
  padding-bottom: 65px;
  font-size: 18px;
}
.banner_main .carousel-inner .bluid .buttons .btn {
  width: 100%;
  border-radius: 0;
  margin-right: 15px;
}
.banner_main .controls {
  position: relative;
}
.banner_main .controls .prev,
.banner_main .controls .next {
  border: 5px solid #9197a6;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  font-size: 34px;
  background-color: transparent;
  color: #9197a6;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.wallet .card {
  padding: 30px;
  border-radius: 0;
  border: 0;
  margin-bottom: 20px;
}
.wallet .card img {
  width: 100%;
}
.wallet .card-body h3 {
  font-weight: bold;
}
.wallet .card-body p {
  color: #191a1a;
  font-weight: 500;
}

.about {
  padding: 90px 0;
}
.about .about-border {
  border: 2px dashed #fff;
  padding: 80px;
}
@media (max-width: 768px) {
  .about .about-border {
    padding: 80px 40px;
  }
}
.about h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 30px;
}
.about p {
  line-height: 1.8;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 40px;
}
.about p,
.about h2 {
  color: #fff;
  text-transform: capitalize;
}
.about .btn {
  font-size: 18px;
  color: #fff;
}
.about figure img {
  width: 100%;
}

.graf {
  padding: 90px 0;
}
.graf .nav {
  border: 1px solid #fff;
}
.graf .nav .nav-link {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  padding: 10px 20px;
}
.graf .nav .nav-link.active, .graf .nav .nav-link:focus, .graf .nav .nav-link:hover {
  color: #face34;
}
.graf .tab-content .tab-pane {
  padding: 20px;
  border: 1px solid #fff;
}
.graf .tab-content .tab-pane > .row {
  border-bottom: #6c6d6d solid 1px;
  padding: 10px;
}
.graf .tab-content .tab-pane .graf-images .row > div {
  padding-block: 30px;
}
.graf .tab-content .tab-pane .graf-images .text {
  padding: 10px;
  height: 56px;
}
.graf .tab-content .tab-pane .graf-images .text h2 {
  color: #fff;
  font-size: 20px;
}
.graf .tab-content .tab-pane .graf-images .text span {
  color: #face34;
  font-weight: bold;
  font-size: 24px;
}
.graf .tab-content .tab-pane .graf-images figure {
  height: calc(100% - 56px);
}
.graf .tab-content .tab-pane .graf-images figure img {
  width: 100%;
  height: 100%;
}
.graf .tab-content .usd {
  color: #fff;
  padding: 0 20px;
}
.graf .tab-content .usd h3 {
  font-size: 20px;
  margin: 0;
}

.testimonial {
  padding: 90px 0;
}
.testimonial .slide {
  position: relative;
}
.testimonial .carousel-indicators {
  right: 25%;
  bottom: -10%;
  left: unset;
  margin: 0;
  display: inline-block;
}
.testimonial .carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 1;
  background-color: #fff;
}
.testimonial .carousel-indicators [data-bs-target].active {
  background-color: #face34;
}
.testimonial .carousel-item .card {
  background: transparent;
  border: 0;
  width: 200px;
}
.testimonial .carousel-item .card .card-image {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}
.testimonial .carousel-item .card span,
.testimonial .carousel-item .card h3 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 0;
  line-height: 1.2;
}
.testimonial .carousel-item .card span {
  color: #face34;
  margin-bottom: 30px;
}
.testimonial .carousel-item .card img {
  width: 30px;
  margin: 0 auto;
}
.testimonial .carousel-item .text {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding-top: 20px;
}
.testimonial .carousel-item .text p {
  padding-inline: 20px;
  margin: 0;
}

.work {
  padding: 90px 0 80px;
}
.work .video video {
  width: 100%;
}

.contact {
  padding: 90px 0 80px;
}
.contact .form .row input {
  padding: 30px 10px;
  border-radius: 0;
  border: 1px solid #404b65;
  background: transparent;
  color: #5e687d;
}
.contact .form .row input:focus {
  outline: 0;
  box-shadow: 0px 0px 0px 4px rgba(94, 104, 125, 0.2117647059);
}
.contact .form .row input::-moz-placeholder {
  font-size: 18px;
  text-transform: capitalize;
  color: #5e687d;
}
.contact .form .row input:-ms-input-placeholder {
  font-size: 18px;
  text-transform: capitalize;
  color: #5e687d;
}
.contact .form .row input::placeholder {
  font-size: 18px;
  text-transform: capitalize;
  color: #5e687d;
}
.contact .form .btn {
  border: 2px solid #fff;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  text-transform: uppercase;
  width: 170px;
  height: 60px;
  font-size: 20px;
  margin: 40px auto 0;
}

.footer {
  padding: 80px 0 0 0;
}
.footer .header h2 {
  text-align: left;
  font-size: 60px;
}
.footer .links {
  padding: 0 40px;
}
.footer .links h2 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .links ul {
  padding: 0;
  margin: 0;
}
.footer .links ul li {
  color: #a4a7ae;
  font-size: 20px;
  font-weight: 500;
}
.footer .links form input {
  padding: 12px;
  border-radius: 0;
  border: 2px solid #fff;
  background: transparent;
  color: #5e687d;
  margin-bottom: 20px;
}
.footer .links form input:focus {
  outline: 0;
  box-shadow: 0px 0px 0px 4px rgba(94, 104, 125, 0.2117647059);
}
.footer .links form input::-moz-placeholder {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  color: #5e687d;
}
.footer .links form input:-ms-input-placeholder {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  color: #5e687d;
}
.footer .links form input::placeholder {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  color: #5e687d;
}
.footer .links form .btn {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid #fff;
  width: 180px;
  height: 55px;
}
.footer .copyright {
  border-top: 1px solid #5e687d;
}
.footer .copyright h2 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.footer .copyright h2 i {
  font-family: "FontAwesome";
  font-weight: 100;
}/*# sourceMappingURL=custom.css.map */